body{
  background-color: #0F172A;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


@media (max-width: 991.5px) {
  #home_main> div:nth-child(2) {
    order: -1;
  }
}

@media (max-width: 991.5px) {
  #Educatio_Kmc_change> div:nth-child(2) {
    order: -1;
  }
}

@media (max-width: 991.5px){
  #center{
    display: flex;
    align-items: center;
    
  }
}